
<div class="container">
    <h1>User Form 2 Model Driven Version</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName"
                   formControlName="firstName">

            <div class="alert alert-danger" *ngIf="form.controls.firstName.touched && form.controls.firstName.hasError('required')">
                First name is required
            </div>

            <div class="alert alert-danger"
                 *ngIf="form.controls.firstName.hasError('minlength')">
                First name should be minimum 4 characters.
            </div>


        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
                   formControlName="email">
            <div class="alert alert-danger"
                 *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                Email is required
            </div>


        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country" formControlName="country">
                <option *ngFor="let c of countries" [value]="c">{{c}}</option>
            </select>
            <div class="alert alert-danger"
                 *ngIf="form.controls.country.touched && form.controls.country.hasError('cannotselectedNotSelected')">
                A country must be selected!
            </div>

            
        </div>
        <button type="submit" class="btn btn-default"
                [disabled]="!form.valid">
            Submit
        </button>
    </form>
</div>

<div [hidden]="!submitted">
    You submitted the following:
    First Name: {{ user.firstName }}<br>
    Email: {{ user.email }}<br>
    Country: {{ user.country }}<br>
    <button class="btn btn-default" (click)="submitted=false">Remove</button>
</div>