<div class="page-header">
  <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Forms / </span>Layout</h1>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="panel-title">Voyages</div>
  </div>
  <div class="panel-body">

    <div class="table-light">
      <div id="datatables_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="table-header clearfix">
          <div class="clearfix"> </div>
          <span>


            
             


              <md-form-field>
              <input mdInput mdTooltip="enter here whatever you intened to search for" placeholder="Filter" [formControl]="filterControl" style="float: right">
    
                 
                </md-form-field>
                <button md-button color="primary" style="float: right">New Voyage</button>
          
                <!-- <button md-mini-fab color="primary" mdTooltip="new voyage" style="float: right">
                  <md-icon class="md-24">add</md-icon>
                </button>
   -->
         
         
         
            </span>

        </div>
        <div class="dataTables_table_wrapper">

          <table class="table table-striped table-bordered dataTable no-footer" id="datatables" role="grid" aria-describedby="datatables_info">
            <thead>
              <tr role="row">


                <th *ngIf="displayRowId">#</th>
                <th *ngFor="let headerColumn of headerColumns">{{headerColumn}}</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let voyage of voyages; let i = index; let even = even; let odd = odd" [ngClass]="{odd: 'gradeA odd', even: 'gradeA even'}">
                <td *ngIf="displayRowId">{{i+1}}</td>
                <td>{{voyage.voyageNo}}</td>
                <td>{{voyage.vessel}}</td>
                <td>{{voyage.agentName}}</td>
                <td>{{voyage.lineName}}</td>
                <td>{{voyage.eta | date:'yyyy/MM/dd' }}</td>
              </tr>


            </tbody>
          </table>
        </div>
        <div></div>




        <div class="table-footer clearfix">
          <div class="DT-label">
            <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
          <div class="DT-pagination">

            <span style="width:100%">
                  
                  
                                <button  md-icon-button>
                                        <md-icon mdTooltip="first page" class="md-24" >first_page</md-icon>
                                    </button>
                  
                                <button  md-icon-button>
                                        <md-icon mdTooltip="previus page" class="md-24">keyboard_arrow_left</md-icon>
                                    </button>
                                <span  mdTooltip="current page">123</span>
            <button md-icon-button>
                                        <md-icon mdTooltip="next page" class="md-24" >keyboard_arrow_right</md-icon>
                                    </button>

            <button md-icon-button>
                                        <md-icon mdTooltip="last page" class="md-24" >last_page</md-icon>
                                    </button>

            </span>
          </div>









        </div>
      </div>




    </div>
  </div>


















  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">Grid</div>
        </div>
        <div class="panel-body">
          <form class="ngmaterial-form">

            <div class="row">
              <div class="col-sm-6">
                <md-form-field class="ngmaterial-full-width">
                  <input mdInput placeholder="First Name">

                </md-form-field>

              </div>
              <div class="col-sm-6">
                <md-form-field class="ngmaterial-full-width">
                  <input mdInput placeholder="Last Name">
                </md-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <md-form-field class="ngmaterial-full-width">
                  <input mdInput placeholder="Email">
                </md-form-field>


              </div>
              <div class="col-sm-6">
                <md-select placeholder="Per page:">
                  <md-option value="10">
                    10
                  </md-option>
                  <md-option value="25">
                    25
                  </md-option>
                  <md-option value="50">
                    50
                  </md-option>
                  <md-option value="100">
                    100
                  </md-option>
                </md-select>


              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">

                <md-form-field class="ngmaterial-full-width">
                  <textarea mdInput id="grid-input-20" placeholder="Remarks" class="form-control"></textarea>

                </md-form-field>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">Without labels</div>
        </div>
        <div class="panel-body">
          <form>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="sr-only" for="grid-input-11">First name</label>
                <input type="text" placeholder="First name" id="grid-input-11" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                <label class="sr-only" for="grid-input-12">Last name</label>
                <input type="text" placeholder="Last name" id="grid-input-12" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="sr-only" for="grid-input-13">E-mail</label>
                <input type="text" placeholder="E-mail" id="grid-input-13" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                <label class="sr-only" for="grid-input-14">Website</label>
                <input type="text" placeholder="Website" id="grid-input-14" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="sr-only" for="grid-input-15">Message</label>
                <textarea placeholder="Message" id="grid-input-15" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>



  <div class="button-row">
    <button md-button>Basic</button>
    <button md-fab>Basic</button>
    <button md-fab color="light">&lt;&lt;</button>
    <button md-fab color="accent">Accent</button>
    <button md-fab color="warn">Warn</button>
    <button md-fab disabled>Disabled</button>
    <button md-fab>
      <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
    </button>
    <a md-fab routerLink=".">Link</a>
  </div>


  <md-checkbox>Check me!</md-checkbox>